body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: black;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
